td input[type="button"]{
	width:30px;
	border-radius:100%;
	font-size:20px;
	background:#fff;
}

.people_num{
	font-size:20px;
	margin:0 5px;
}

#file_delete_all{
	border-radius:5px;
	background:#1aa3ff;	
}

table h3{
	text-align:left;
	font-size:24px;
	margin:10px 0;	
}

table td > div{
	display:flex;
	justify-content:space-between;
	padding:3px 0;
	margin:5px 0;
	border-bottom:1px solid #ccc;
	font-size:20px;
}

table h4{
	font-weight:normal;
}

table td > div > div label{
	display:inline-block;
	width:24px;
	height:24px;
	cursor:pointer;
	transition: all 0.2s ease 0s;
}

table td > div > div label:first-of-type{
	background:url(../images/check_circle.png) no-repeat center/contain;
}

table td > div > div label:last-of-type{
	background:url(../images/cancel.png) no-repeat center/cover;
}
input[type="radio"]{
	display:none;
}
input[type="radio"]:first-of-type:checked + label{
	background:url(../images/check_circle_filled.png) no-repeat center/contain;
}
input[type="radio"]:last-of-type:checked + label{
	background:url(../images/cancel_filled.png) no-repeat center/contain;
}