body {
  background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);
}

main {
  margin: 140px auto 100px;
  width: 1200px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  font-family: 'Gowun Dodum', sans-serif;  
}

#img {
  margin-top: 50px;
  text-align: center;
}

#section img {
  width: 300px;
  margin: 0 auto;
}

#step {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  user-select: none;
  margin-bottom: 30px;
}

#step li {
  width: 25%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  background: #f5f5f5;  
}

#step li:nth-child(2) {
  background: #1aa3ff;
  color: #fff;
}

#step li:last-child {
  border: 0;
}

#agree_all_checkbox {
  margin: 15px 0;
  font-size:18px;
  font-weight:bold;
  user-select: none;
}

.agree_checkbox + label{
    user-select: none;    
}

.agree {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0 0;
}

.agree h2 {
  display: inline-block;
  margin: 20px 0 10px;
}

.agree_content {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 20px;  
}

#agree2,
#agree3 {
  padding: 0;
}

#agree_btn {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #1aa3ff;
  color: #fff;
  cursor: pointer;
}

#agree_btn:hover {
  background: #000;
}

#section > p {
  display: block;
  text-align: center;
  margin: 50px 0 100px;
}
