main {
	width: 1700px;
	margin: 80px auto;
}

#accomodation_info {	
	width: 500px;
	float:left;
	margin:0 20px;	
}

#accomodation_info .accomodation {
	width: 500px;
	height:200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;	
	float:left;
	margin-top:20px;	
}

.accomodation_box{
	display:flex;	
}

.accomodation_box div:first-child{
	width:200px;
	height:200px;	
	overflow:hidden;
	position:relative;
}

.accomodation_box div:first-child img{
	position:absolute;	
	left:50%;	
	transform:translateX(-50%);
	transition: all 0.2s ease 0s;	
	height:100%;
}

#accomodation_info .accomodation img:hover {	
	opacity: .7
}

.accomodation_box div:last-child{
	width:300px;
}

#accomodation_info .accomodation h2, #accomodation_info .accomodation span,
	#accomodation_info .accomodation p {
	margin: 17px 0;
	padding: 0 10px;
	font-size:18px;	
}

#accomodation_info .accomodation_box div:last-child p:first-of-type{
	position: relative;	
	padding-left:35px;	
}

.accomodation_box div:last-child p:first-of-type:before{
	display: block;
	content: '';
	width: 21px;
	height: 21px;
	background: url(../images/star.png) no-repeat center/contain;
	position: absolute;
	top:2px;
	left: 10px;
}

#mapper{
	margin:0;
	width:1005px;
	height:954px;
	position:fixed;
	right:0px;
	background:red;	
}

#more{
	clear:both;
}

#more_btn {
	border: 1px solid #ccc;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	background: #1aa3ff;
	font-weight: bold;
	cursor: pointer;
	margin: 30px auto 0;
}

#more_btn:hover {
	background: #000;
	color: #fff;
}

footer {
	margin-top: 50px;
	width: 100%;
}

footer .footerInner {
	width: 1700px;
}