main {
	width: 1700px;
	margin: 80px auto;
}

aside {
	float: left;
	margin-top: 20px;
	width: 340px;
	height: 1000px;
	border: 1px solid #000;
	padding: 20px;
}

#map {
	width: 300px;
	height: 150px;
	background: url(../images/map_image.svg) no-repeat center/cover;
	position: relative;
	cursor: pointer;
}

#map:hover p {
	color: #5392f9;
}

#map span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background: url(../images/map_pin.svg) no-repeat center/contain;
}

#map p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 105px;
	user-select: none;
}

#fee {
	margin-top: 20px;
}

#fee>div {	
	position: relative;
}

input[type="range"] {
	width: 100%;
	top: -10px;
	left: 0;
	position: absolute;
	border: none;
	pointer-events: none;
	z-index: 10;
	appearance: none;	
	cursor:pointer;
	border:1px solid #000;
	opacity: 0.5;
}

input[type="range"]::-webkit-slider-thumb {
	pointer-events: all;	
	appearance: none;
	background-color: red;
	width: 3rem;
	height: 1.5rem;	
}

.track {
	position: relative;
	width: 100%;
	height: 0.5rem;
	margin-top: 10px;
	background-color: #bdc3c7;
	border-radius: 0.5rem;
}

.range {
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right:0;	
	background-color: #2c3e50;
	border-radius: 0.5rem;
}

.thumb {
	position: absolute;
	top: 0;
	transform: translateY(-0.25rem);
	width: 1rem;
	height: 1rem;
	background-color: black;
	border-radius: 50%;
}

#accomodation_info {
	float: right;
	width: 1340px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#left_thumb {
	left: 0;
}

#right_thumb {
	right: 0;
}

#accomodation_info .accomodation {
	width: 320px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
}

#accomodation_info .accomodation a>div {
	width: 320px;
	overflow: hidden;
}

#accomodation_info .accomodation img {
	transition: all 0.5s ease 0s;
	width: 100%;
}

#accomodation_info .accomodation img:hover {
	transform: scale(1.1, 1.1);
	opacity: .7
}

#accomodation_info .accomodation h2 {
	display: inline-block;
	font-size: 16px;
}

#accomodation_info .accomodation h2, #accomodation_info .accomodation span, #accomodation_info .accomodation p {
	margin: 5px 0;
	padding: 0 10px;
}

#accomodation_info .accomodation span {
	position: relative;
	float: right;
}

#accomodation_info .accomodation span:before {
	display: block;
	content: '';
	width: 21px;
	height: 21px;
	background: url(../images/star.png) no-repeat center/contain;
	position: absolute;
	left: -15px;
}

#accomodation_info .accomodation p:first-of-type {
	display: inline-block;
}

#accomodation_info .accomodation p:nth-of-type(2) {
	float: right;
}

#accomodation_info .accomodation p:last-of-type {
	margin-bottom: 10px;
}

#accomodation_info>span {
	border: 1px solid #ccc;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	background: #1aa3ff;
	font-weight: bold;
	cursor: pointer;
	margin: 30px auto 0;
}

#accomodation_info>span:hover {
	background: #000;
	color: #fff;
}

footer {
	margin-top: 50px;
	width: 100%;
}

footer .footerInner {
	width: 1700px;
}