body {
  background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);
}

main {
  width: 2000px;
  margin: 120px auto;  
  border:1px solid #ccc;
  background:#f5f5f5;
  border-radius:20px;
  padding: 20px 0 100px;
}
h2 {  
  text-align: center;
  margin:20px 0;  
}

.line1{
  display:block;
  width:500px;
  height:1px;
  background:black;
  margin:50px auto 0;
}

.line2{
  display:block;
  width:500px;
  height:1px;
  background:black;
  margin:0 auto 50px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.reservation_info{
  width:1700px;
  height:300px;
  margin:0 auto;
  overflow-y: scroll;
  overflow-x:hidden;  
  border:1px solid #ccc;  
  background:#e2e2e2;  
}

table {    
  margin: 0 auto;
  width: 1700px;    
  border-collapse: collapse;
  text-align: center;    
  background:#fff;
}
th {
  background:#7ac5ff;
  border-left: 1px solid #ccc;
  padding: 5px;
}

th:first-child{
  border-left: 0;
  border-top: 0;
}

th:last-child{
  border-right:1px solid #ccc;
}

td {
  border: 1px solid #ccc;
  padding: 5px;  
}

td:first-child{
  border-left: 0;
}

.btn{
  margin:0 auto;  
  display:block;
  width:100px;
  height:30px;
  line-height:30px;
  border-radius:5px;
  border:none;
  background:#b3e2ff;  
  cursor:pointer;
}

.btn:hover{
  background:#1aa3ff;
  color:#fff;
}

#check_out_btn:hover{
  background:red;
  color:#fff;
}