/* �궡 �씪�젙 �씤�뜳�뒪 */

#planner_wrap h2 {
    font-size: 20px;
    margin-bottom: 45px;
}

#planner_wrap article {
    max-width: 950px;
}

#planner_category {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    overflow: hidden;
    border-bottom: 1px solid #444447;
}

ul #planner_category {
    margin-bottom: 0;
}

#planner_category > li {
    font-size: 14px;
    color: #000;
    text-align: center;
}

#planner_category > li:nth-of-type(1) {
    width: 25%;
    min-width: 237.5px;
}

#planner_category > li:nth-of-type(2) {
    width: 25%;
    min-width: 237.5px;
}

#planner_category > li:nth-of-type(3) {
    width: 20%;
    min-width: 190px;
}

#planner_category > li:nth-of-type(4) {
    width: 15%;
    min-width: 142.5px;
}

#planner_category > li:nth-of-type(5) {
    width: 15%;
    min-width: 142.5px;
}

.planner_list {
    width: 100%;
    height: 145px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planner_list > li {
    text-align: center;
    font-size: 14px;
    color: #000;
}

.planner_list h6 {
    font-size: 18px;
    color: #000;
}

.planner_list > li:nth-of-type(1) {
    width: 25%;
    min-width: 237.5px;
    color: #777;
}

.planner_list > li:nth-of-type(2) {
    width: 25%;
    min-width: 237.5px;
}

.planner_list > li:nth-of-type(3) {
    width: 20%;
    min-width: 190px;
}

.planner_list > li:nth-of-type(4) {
    width: 15%;
    min-width: 142.5px;
}

.planner_list li a img {
    width: 30px;
    height: 30px;
}

.planner_list > li:nth-of-type(5) {
    width: 15%;
    min-width: 142.5px;
}

.show_detail,
.amend_plan {
    font-size: 13px;
    border: none;
    background-color: white;
    color: #777;
    cursor: pointer;
}

/* �긽�꽭蹂닿린 �씤�뜳�뒪 */

#planner_header {
    margin-left: 70px;
    margin-top: 50px;
}

.main {
    display: flex;
    margin: 30px 0px 0px 70px;
}

.tabs li {
    padding: 15px 15px;
    text-align: center;
    border: 0.5px solid white;
    font-size: 13px;
    border-top-left-radius: 18%;
    border-bottom-left-radius: 18%;
    cursor: pointer;
}

.click_days {
    background-color: rgb(103, 104, 104);
    color: white;
}

.clicked {
    background-color: #71a3ee;
    color: white;
}


.contents {
    width: 800px;
    border: 0.5px solid black;
}

.days_title {
    padding: 20px;
}

.days_sub {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 40px;
}

.days_sub > form {
    flex: 1;
}

.days_sub > span {
    background-color: #a1a1a1;
    border: 0.5px solid black;
    margin-right: 10px;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
}

.days_contents {
    margin: 10px 20px 20px;
    border: 0.5px solid black;
    font-size: 14px;
}

form.content_form {
    padding: 10px 20px;
}

.content:nth-child(n+2) .content_form {
	padding: 0px 20px 10px;
}

.content > form {
    display: flex;
}

.content_time {
    margin: 10px;
    text-align: center;
}

.content_form input[type="time"],
.content_form input[type="text"] {
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


.content_act {
    margin: 11px;
}

.days_selected {
    display: none;
}

.show {
    display: block;
}

.category_list {
    margin: 10px 20px 20px;
}

/* modal李� CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 100px;
    left: 500px;
    width: 1000px;
    height: 700px;
    overflow: auto;
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;                        
}

.close {
    color: black;
    float: right;
    font-size: 39px;
    margin: 0 auto;
    position: absolute;
    top: -8px;
    right: 8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_footer {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.modal_footer > button {
    margin: 0 10px;
    padding: 10px 25px;
    cursor: pointer;
}

.modal_btn {
    display: none;
}