@charset "UTF-8";

section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 auto;
}

.room-info-wrap {
	margin-top: 80px;
	padding-top: 100px;
	text-align: center;
}

.room-info-text {
	margin-top: 20px;
}

.room-info-image {
	height: 480px;
}

.room-info-images {
	width: 1200px;
	display: flex;
	margin: 30px 0px;
}

.images-others {
	display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 18px;
}

.others-row {
	display: flex;
}

.others-row img {
	height: 155px;
	margin-left: 10px;
}




/* 달력 */
.calendar-container {
  display: flex;
}

.calendar-left, .calendar-right {
  width: 50%;
}

.calendar-header {
  background-color: #f2f2f2;
  padding: 10px;
}

.calendar {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}