main {
  width: 1700px;
  margin: 80px auto;
}

#accomodation_info {  
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#accomodation_info .accomodation {
  width: 320px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius:10px;
  overflow:hidden;  
}

#accomodation_info .accomodation a > div{
  width: 320px;  
  overflow:hidden;  
}

#accomodation_info .accomodation img {
  transition:all 0.2s ease 0s;
  width: 100%;
}

#accomodation_info .accomodation img:hover{
  transform:scale(1.2,1.2);
}

#accomodation_info .accomodation h2 {
  display: inline-block;
  font-size: 16px;
}

#accomodation_info .accomodation h2,
#accomodation_info .accomodation span,
#accomodation_info .accomodation p{
  margin:5px 0;
  padding:0 10px;
}

#accomodation_info .accomodation span {
  position: relative;
  float: right;
}

#accomodation_info .accomodation span:before {
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  background: url(../images/star.png) no-repeat center/contain;
  position: absolute;
  left: -15px;  
}

#accomodation_info .accomodation p:first-of-type{
  display:inline-block;
}

#accomodation_info .accomodation p:nth-of-type(2){
  float:right;
}

#accomodation_info .accomodation p:last-of-type{
  margin-bottom: 10px;
}

#accomodation_info > span{
  border:1px solid #ccc;
  width:80px;
  height:30px;
  text-align:center;
  line-height:30px;
  border-radius:10px;
  background:#1aa3ff;  
  font-weight:bold;
  cursor:pointer;
  margin:30px auto 0;  
}

#accomodation_info > span:hover{
  background:#000;
  color:#fff;
}

#map {
  width: 680px;
  height: 810px;
  border: 1px solid #ccc;  
  border-radius:10px;
  position:fixed;
  top:100px;  
  bottom:0;
  right:100px;
  overflow:hidden;  
}

footer {  
  margin-top: 50px;
  width: 100%;
}

footer .footerInner {
  width: 1700px;
}
