<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>

		<servlet-name>condb</servlet-name>

		<servlet-class>com.hh.controller.ServletFile</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>condb</servlet-name>

		<url-pattern>*.condb</url-pattern>

	</servlet-mapping>

	<servlet>

		<servlet-name>stayDB</servlet-name>

		<servlet-class>com.jslee.controller.Servlet</servlet-class>

	</servlet>


	<servlet-mapping>

		<servlet-name>stayDB</servlet-name>

		<url-pattern>*.staydb</url-pattern>

	</servlet-mapping>


</web-app>